<table class="table table-striped">
  <tr>
    <th>
      <strong>Group #:</strong>
    </th>
    <th>
      <strong>Assignment:</strong>
    </th>
    <th>
      <strong>Score:</strong>
    </th>
    <th>
       <strong>Date:</strong>
    </th>
    <th>
      <strong>Comment:</strong>
    </th>
  </tr>
  </table>
<%= @grades %>