<p style="color: green"><%= notice %></p>

<h1>Grades</h1>

    <%= render "thead" %>

<div id="grades">
  <% @grades.each do |grade| %>
    <%= render grade %>
  <% end %>
</div>


<%= link_to "Create New Grade", new_grade_path %>
