<% if current_user.job == "Group 1" %>
    <%= render "group1" %>
<% elsif current_user.job == "Group 2" %>
    <p>2</p>
<% elsif current_user.job == "Group 3" %>
    <p>hi</p>

<% elsif current_user.job == "Group 4" %>
    <p>hi</p>

<% elsif current_user.job == "Group 5" %>
    <p>hi</p>

<% elsif current_user.job == "Professor" %>
    <p>hi</p>
<% end %>

